:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;

}

body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    font-size: 2rem;
    width: 50%;
    border: 1px solid;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}
main{
    margin: 111;
    padding: 0;
}



img, iframe {
    max-width: 100%;
    height: auto; /*to preserve the aspect ratio of the image*/
}

#menu {
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    align-items: center;
    background-color: aqua;
    height: 3em;
    position: sticky;
    top: 0;
}

#search{
    width: 15em;
    justify-self: end;
}