*,
*::after,
*::before {
    box-sizing: border-box;
}


:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    --margin-main: 16px;
    background-color: ghostwhite;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    margin: 1% auto;
    font-size: 2rem;
    width: 50%;
    border: 1px solid;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

img, iframe {
    max-width: 100%;
    min-height: auto;
    max-height: 50vh;
    /*to preserve the aspect ratio of the image*/
}

a {
    font-weight: 550;
    color: inherit;
    text-decoration: none;
}

#search {
    width: 30%;
    justify-self: end;
}

#buttonAndField {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fit-content(1fr));
    grid-row-gap: 10px;
    margin-left: var(--margin-main);
    margin-right: var(--margin-main);
}

#menu {
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    background-color: darkcyan;
    position: sticky;
    top: 0;
    border-bottom: thin ridge black;
}

@media all and (min-width: 641px) {

    #search {
        width: 30%;
    }

    #menu {
        height: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    nav>ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 10%;
    }
}

@media all and (max-width: 640px) {

    #menu {
        height: 8vh;
        grid-template-areas:
            "logAndReg search"
            "nav nav";
    }

    #logAndReg {
        grid-area: logAndReg;
        justify-self: start;
    }

    #search {
        grid-area: search;
        width: 50%;
    }

    #nav {
        grid-area: nav;
        justify-self: start;
    }

    nav>ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    fieldset {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }

    img {
        align-self: center;
    }

    #submitAndReset {
        display: flex;
        flex-flow: row wrap;
    }

    #regSubmit {
        width: 50%;
    }

    #regReset {
        width: 50%;
    }

    #agb {
        align-self: flex-start;
    }
}

div#chongites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 10px;
}


div#chongites>article {
    margin: auto;
}