:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;

    --main-color: lightgreen;
}

h1 {
    max-width: 100%;
    font-size: 3rem;
    text-align: center;
}

nav>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

li{
    flex: 1 0 23em;
}


a:active {
    color: blue;
    background-color: red;
}


nav {
    background: var(--main-color);
}

a {
    padding: 5px;
}

ul {
    height: 100px;
}
