:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;

    --main-color: lightgreen;
}

h1 {
    max-width: 100%;
    font-size: 3rem;
    text-align: center;
}

@media all and (min-width: 540px) {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2%;
    }
}

@media all and (max-width: 541px) {
    ul {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
}

a:active {
    color: blue;
    background-color: red;
}


nav {
    background: var(--main-color);
}

a {
    padding: 5px;
}

ul {
    height: 100px;
}

li {
    flex-grow: 1;
    list-style: none
}

