:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    --main-hue: 240;
    --main-color: hsla(var(--main-hue), 100%, 50%, 1);
    --bg-color-dark: hsla(var(--main-hue), 100%, 80%, 1);
    --bg-color-light: hsla(var(--main-hue), 100%, 90%, 1);
}

h1 {
    font-size: 2rem;
    width:50%;
    border: 1px solid;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}


img {
    width: 100%;
    height: auto; /*to preserve the aspect ratio of the image*/
}

article:nth-of-type(odd) {
    background: var(--bg-color-dark);
}

article:nth-child(even) {
    background: var(--bg-color-light);
}

li:nth-child(odd) {
    color: #CFAEE9;
}

li:nth-child(even) {
    color: red; /*it not work, why?*/
}