:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;


    --main-hue: 240;
    --main-color: hsla(var(--main-hue), 100%, 50%, 1);
    --bg-color-dark: hsla(var(--main-hue), 100%, 80%, 1);
    --bg-color-light: hsla(var(--main-hue), 100%, 90%, 1);
    --li-color-odd: red;
    --li-color-even: #CFAEE9;
    --margin: 16px;
}

h1 {
    font-size: 2rem;
    width: 50%;
    border: 1px solid;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}


img, iframe {
    max-width: 100%;
    height: auto;
    /*to preserve the aspect ratio of the image*/
}

article:nth-of-type(odd) {
    background: var(--bg-color-dark);
}

article:nth-child(even) {
    background: var(--bg-color-light);
}

main {
    display: grid;
}

nav {
    display: grid;
    background: #CFAEE9;
    position: sticky;
    top: 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-items: center;
    grid-gap: 10px;
}

@media all and (min-width: 541px) {
    main {
        grid-template-areas:
            "item1 item2 item3";
        grid-gap: 10px;
        padding-top: 10px;
    }

    #porp {
        grid-area: item1;
    }

    #chonk {
        grid-area: item2;
    }

    #MONKE {
        grid-area: item3;
    }
}

@media all and (max-width: 540px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, fit-content(1fr));
        grid-row-gap: 10px;
        padding-top: 10px;
    }
}